.App{
    height: 100%;
    width: 100%;
    background-color:  #36363629;
    position: absolute;
}

.loginPageWrapper{
    display: flex;
}

.backgroundImage{
    position: absolute;
    top: 5%;
    left: 0%;
    width: 50%;
}

.loginFormWrapper{
    position: absolute;
    left: 70%;
    top: 30%;
}

.title{
    color: #186c7b;
    font: 25px bolder;
    margin-bottom: 20%;
}

.openModal{
    background-color: #1F8598;
    color: white;
    border: #1F8598;
    cursor: pointer;
    border-radius: 4px;
    text-align: justify;
    font-size: 16px;
    padding: 9px 25px;
    transition: 0.3s;
    display: block;
    margin-left: 30%;
}

.topWrapper,
.headers{
    display: flex;
    grid-gap: 60%;
    margin-top: -1%;
    margin-left: 5%;
}

.topWrapper{
    margin-top: 3%;
    margin-left: 10%;
    grid-gap: 70%;
}

.signOut{
    color: #767676;
    margin-top: -5%;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
}

.division{
    border: 2px solid #186c7b;
    box-shadow: 0px 4px 4px rgba(223, 223, 223, 0.25);
    width: 1200px;
    margin-top: -17%;
    margin-left: 10%;
    opacity: 20%;
    position: absolute
}

.backButton{
    position: absolute;
    top: 86%;
    left: 42%;
}