.backgoundsWrapper{
    display: flex;
}

.windowBackground{
    background-color: black;
    color: #ffffff;
    height:990px;
    width: 1260px;
    opacity: 60%;
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
}

.modalBackground{
    background-color: #ffffff;
    color: #ffffff;
    height:990px;
    width: 650px;
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.modalNameWrapper{
    background-color: #EFEFEF;
    color: #ffffff;
    height:100px;
    width: 650px;
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.alignModalWrapper{
    display: flex;
    grid-gap: 10px;
    margin-top: 5%;
    margin-left: 7%;
}

.modalAttributesWrapper{
    background-color: white;
    color: #ffffff;
    height:600px;
    width: 640px;
    position: absolute;
    right: 0%;
    top: 15%;
    bottom: 0%;
}

.attributesWrapper{
    display: flex;
    grid-gap: 130px;
    margin-left: 7%;
    margin-bottom: 7%;
}

.modalAttribute{
    font-size: 19px;
    color: #1F8598;
}

.modalField{
    width: 530px;
    height: 35px;
    margin-left: 1%;       
    border: 1px dashed #EFEFEF;
    background-color: #EFEFEF;
    border-radius: 10px;
    resize: none;
    color: black;
    font-size: 18px;
    margin-top: -2%;
    outline: none;
}

.modalCancelBtn,
.modalAddBtn{
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-size: 17px;
    padding: 10px 55px;
    transition: 0.3s;
    display: block;
    text-decoration: none;
    margin-left: 15%;
    margin-top: 15%;
}

.modalCancelBtn{
    background-color: #767676;
    color: white;
    border: #767676;
}

.modalAddBtn{
    background-color: #1F8598;
    color: white;
    border: #1F8598;
}

.open{
    display: block;
}

.close{
    display: none;
}

.selectTasksWrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
}

.attribute{
    color: black;
    font-size: 16px;
}