.tableWrapper{
    width: 900px;
    height: 400px;
    margin-top: 3%;
    margin-left: 18%;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px 2px rgba(180, 180, 180, 0.25);
    border-radius: 4px;
}

.tableHeadersWrapper{
    width: 896px;
    height: 38px;
    border: 2px transparent solid;
    background-color: #F4F4F4;
}

.headerAttribute{
    color: #186c7b;
    font: 20px bolder;
}

.tableAttributesWrapperE,
.tableAttributesWrapper{
    display: flex;
    grid-gap: 41%;
    margin-left: 21%;
} 
.optionsWrapper{
    display: flex;
    grid-gap: 60%;
    margin-top: 1.2%;
}

.tasksTableWrapper{
    display: flex;
    grid-gap: 23%;
    margin-top: 3%;
}

.tasksTableWrapperD{
    display: flex;
    margin-left: 670%;
}


.editOptionsWrapper{
    display: flex;
    margin-top: 3%;
    margin-left: 1%;
    grid-gap: 40%;
}

.btnWrapper{
    cursor: pointer;
    margin-top: -15%;
    margin-left: 70%;
}

.resultsWrapper{
    margin-top: -22%;
}